* {
	transition: 1s;
}

body{
	height: 110%;
}

td {
	width: 40px;
	height: 40px;
}

#text {
	font-size: 1.8em;
}

#text-form {
	padding-bottom: 30px; text-align: left; margin-left: 5%; margin-right: 5%; width: 90%;
}

#img-loader {
	width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;
}

#for-img {
	margin-bottom: 20px;
}

#btn-download {
	margin: 5px; height: 30px;
}

#mobile-container {
	width: 90%; margin-right: 5%; margin-left: 5%; position:fixed; bottom: 0; background-color: rgba(0,0,0,0.9); margin-bottom: 10px;
}

#right-container {
	width: 40%; margin-right: 5%; margin-left: 50%; position: absolute; top: 150px;
}

.center-align {
	text-align: center;
}

#checkout-form {
	margin: 0 20%;
	background-color: rgba(0,0,0,.87);
	padding: 20px;

}
.ui.header #title {
	width: 100%; background-color: rgba(0,0,0,0.9) !important; height: 40px;
}

.ui.header #title .sec-menu {
	position: absolute;
	top: 10px;
	right: 10px;
}

.ui.header #title h1{
	font-size: 4em; font-family: 'Lobster', cursive !important;  box-sizing: border-box; padding: 20px; margin: 0;  color: #fafafa !important; color: #fafafa; background-color: transparent !important;
}

.ui.header #title h2{
	font-size: 2em; font-family: 'Lobster', cursive !important; box-sizing: border-box; margin: 0; width: 100%; background-color: rgba(0,0,0,0.9) !important; color: #fafafa !important;
}

.ui.header {
	box-sizing: border-box; margin: 0;
}

#font-family {
	font-size: 1.5em;
	height: 2.5em;
}

#emoji-table {
	width: 100%;
}

#addTextToFabric {
	width: 100%;
}

.ui.inverted.secondary.menu .item {
	z-index: 999;
}

.alt-view {
	position: fixed; right: 0; top: 42%;
}

.alt-view i {
	color: black;
	height: 30px;
	width: 30px;
}

.alt-view div {
	margin: 20px 10px;
}

td img:hover {
	cursor: pointer;
	height: 35px;
	width: 35px;
}