@font-face {
  font-family:Sketch Gothic School;
  src: url(../fonts/Seagram.ttf);
}
@font-face {
  font-family:Tusker;
  src: url(../fonts/TuskerGrotesk.ttf);
}
@font-face {
  font-family:Gothic;
  src: url(../fonts/Gothic.ttf);
}

@font-face {
  font-family:Lordish;
  src: url(../fonts/Lordish.ttf);
}

@font-face {
  font-family:Brightly Crush Shine;
  src: url(../fonts/BrightlyCrushShine.otf);
}
@font-face {
  font-family:Chasy;
  src: url(../fonts/Chasy.otf);
}
@font-face {
  font-family:Chicken Pie;
  src: url(../fonts/CHICKEN Pie.ttf);
}
@font-face {
  font-family:Dearest;
  src: url(../fonts/Dearest.ttf);
}
@font-face {
  font-family:Down Hill;
  src: url(../fonts/DownHill.ttf);
}
@font-face {
  font-family:Hanged Letters;
  src: url(../fonts/HangedLetters.ttf);
}
@font-face {
  font-family:Trucking;
  src: url(../fonts/KeeponTruckin.ttf);
}
@font-face {
  font-family:Ling;
  src: url(../fonts/LingLengLang.ttf);
}
@font-face {
  font-family:Loving You;
  src: url(../fonts/LovingYou.ttf);
}
@font-face {
  font-family:Margetha;
  src: url(../fonts/Margetha.otf);
}
@font-face {
  font-family:Mathline;
  src: url(../fonts/Mathline.otf);
}
@font-face {
  font-family:Muthiara;
  src: url(../fonts/Muthiara.otf);
}
@font-face {
  font-family:Retrow Mentho;
  src: url(../fonts/RetrowMentho.ttf);
}
@font-face {
  font-family:Samble Tracie;
  src: url(../fonts/SambleTracie.ttf);
}
@font-face {
  font-family:Summer Vibes;
  src: url(../fonts/SummerVibes.otf);
}
@font-face {
  font-family:Vogue;
  src: url(../fonts/Vogue.ttf);
}
