body {
    background-color: #fbbe0876;
}

.canvas-app {

    h1 {
        margin-top: 0.5em;
        font-family: 'Brightly Crush Shine';
        font-size: 3em;
    }

    .page {
        text-align: center;
    }
}