body {
    background: #00000005;
    width: 100vw;
    .canvas-app {
        .page {
            width: 100%;
            h1 {
                padding-top: .2em;
                font-family: 'Retrow Mentho';
            }
            text-align: center;
        }
    }
}