* {
	transition: 0.4045s;
}

button {
    border-radius: 0 !important;
}

.canvas {
    border: 4px solid black;
    background-color: #ffffff;
    width: 450px;
    margin: auto;
    text-align: center;
    height: 640px;

    #done {
        width: 101%;
        height: 50px;
        margin-bottom: 2em;
        background-color: black;
        padding-left: 3px !important;
        position: relative;
        left: -2px;
    }    
}
