
.image {

    #img-loader {
        width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;
    }
    
    #for-img {
        margin-top: 5em;
        margin-left: 1.5em;
        width: 90% !important;
        border-radius: 50px !important;
        margin-bottom: 0;
        color: #ffffff;
        background-color: #bbbcbf;
    }
    
    #for-img:hover {
        background-color: #cdced0;
    }

    #for-img i {
        position: relative;
        top: 5px;
    }
    
}
