
.text {

    input {
        width: 80% !important; 
        font-size: 1.5em !important;
        border: none !important;
    }   
    
    .round-button {
        border-radius: 50px !important;
        width: 50px !important;
        height: 50px !important;
        background-color: #bbbcbf;
        color: #ffffff;
        cursor: pointer;
        margin-top: 1.2em !important;
        z-index: 9999 !important;
    }
    
    .floated-right {
        float: right;
    }

    .round-button:hover {
        background-color: #cacbcd !important;
    }

    .round-button i {
        margin: 15px;
    }

    .swiper-container {
        margin-top: 1em;
        height: 30px; 
        cursor: grab !important; 
        background-color: white; 
        border-radius: 4px;
    }
    
    .swiper-slide {
        padding-top: 6px;
        width: 30px !important;
        height: 30px !important;
        text-align: center;
        cursor: pointer !important;
    }

    .swiper-slide:hover {
        font-size: 1.1em;
    }

    .field {
        margin-bottom: 0 !important;
    }    
    
}
