
.text {

    input {
        width: 80% !important; 
        font-size: 1.5em !important;
        border: none !important;
    }

    .add {
        border-radius: 50px !important;
        width: 50px !important;
        height: 50px !important;
        margin-top: 1.2em;
        margin-right: 0.5em !important;
    }       

    .swiper-container {
        margin-top: 1em;
        height: 30px; 
        cursor: grab !important; 
        background-color: white; 
        border-radius: 4px;
    }
    
    .swiper-slide {
        padding-top: 6px;
        width: 50px !important;
        height: 50px !important;
        text-align: center;
        cursor: pointer !important;
    }

    .swiper-slide:hover {
        font-size: 1.1em;
    }

    .field {
        margin-bottom: 0 !important;
    }    
    
}
