$backgroundColor: rgb(255, 255, 255);
$primaryColor: #e0e1e2;
$secondaryColorDarker: #bbbcbf;
$highlightColor: #fbbd08;

.tools {
    border-top: 1px solid #fbbd08 !important;
    height: 215px;
    background-color: $backgroundColor;
    z-index: 999;
    margin: 10px;
    padding-top: 1.77em;
    padding-left: 5px;

    #btn-download {
        margin: 5px; 
        height: 30px;
    }

    .ui .vertical .icon .menu {
        float: right;
    }
    
    .round-button {
        border-radius: 50px;
        width: 50px;
        height: 50px;
        background-color: $secondaryColorDarker;
        color: $backgroundColor;
        cursor: pointer;
        margin: 5px;
        z-index: 9999 !important;
    }
    
    .round-button:hover {
        background-color: #cacbcd !important;
    }
    
    .round-button.active {
        border: 1px solid $highlightColor !important;
    }
    
    .round-button i {
        margin: 15px;
    }
  
}

